*{box-sizing: border-box;}
.infoContainer{
    position: relative;
    max-height: 1890px;
.backgroundImage{
    position: absolute;
    z-index: -2;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
    .back {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: rgb(236, 220, 187);
        cursor: pointer;
        z-index: 2;
        margin: 40px 20px 20px 20px;
        display: flex;
        align-items: center;
        font-size: 26px;
      }
      .divider{
        width: 1px;
        height: 100%;
            background-color: white;
    }
    .infoPopUp{
        -webkit-box-shadow: 0px 4px 16px 1px rgba(255, 255, 255, 0.500);
            -moz-box-shadow: 0px 4px 16px 1px rgba(255, 255, 255, 0.500);
            box-shadow: 0px 4px 16px 1px rgba(255, 255, 255, 0.500);
            padding: 30px;
            background-color: rgba(0, 0, 0, 0.885);
            color: rgb(236, 220, 187);
            .infoTop{
                display: flex;
                .infoTopImg{
                    img{
                        margin-left: 30px;
                        height: 550px;
                            width: 450px;
                            -webkit-box-shadow: 0px 4px 7px 1px rgba(164, 176, 185, 0.63);
                            -moz-box-shadow: 0px 4px 7px 1px rgba(164, 176, 185, 0.63);
                            box-shadow: 0px 4px 7px 1px rgba(164, 176, 185, 0.63);
                    }
                }
                .infoTopAbout{
                    padding-left:60px ;
                    padding-top: 10px;
                    .infoTopAboutCredentials{
                        height: 30px;
                        margin-top: 30px;
                        display: flex;
                        align-items: center;
                        p{
                            display: flex;
                            align-items: center;
                            margin-right: 15px;
                        }
                    }
                    h1{
                        font-size: 60px;
                    }
                    .infoTopAboutDesc{
                        width: 550px;
                        font-size: 21.8px;
                        margin-top: 40px;
                    }
                    .infoTopAboutActions{
                        margin-top: 30px;
                            background-color: rgba(19, 18, 18, 0.834);
                            border-radius: 8px;
                            border: 1px solid rgba(58, 57, 57, 0.5);
                        width: 600px;
                        height: 60px;
                        border-radius: 10px;
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        .infoActionsItemCircle{
                            border-radius: 50%;
                            width: 40px;
                            height: 40px;
                            background-color: black;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border: none;
                            border-right: 1px solid;
                            cursor: pointer;
                        }
                        .link{
                            text-decoration: none;
                        }
                        .infoActionsItem{
                            border-radius: 18px;
                            width: 140px;
                            height: 40px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            text-decoration: none;
                            border: none;
                            cursor: pointer;
                            color: white;
                            background-color: black;
                        }
                    }
                }
            }
            .infoCredentials{
                background-color: rgba(19, 18, 18, 0.758);
                border-radius: 8px;
                border: 1px solid rgba(58, 57, 57, 0.5);
                margin-top: 30px;
                padding: 20px;
                h1{
                    font-size: 40px;
                }
                .infoCredentialsAll{
                    margin-top: 10px;
                    display: flex;
                    .infoCredentialsLeft{
                        width: 50%;
                    }
                    .infoCredentialsRight{
                        width: 50%;
                        border-left: 1px solid white ;
                        padding-left: 20px;
                    }
                    .credentialItem{
                        margin-bottom: 7px;
                        word-spacing: 10px;
                        line-height: 30px;
                        display: flex;
                        align-items: center;
                        b{
                            font-size: 19px;
                            font-weight: 730;
                        }
                        p{
                            margin-left: 5px ;
                        }
                    }
                }
                .infoCredentialsScore{
                    display: flex;
                    align-items: center;
                    margin-top: 20px;
                    .staroutline{
                        color: white;
                    }
                }
            }
            .infoCasts {
                margin-top: 40px;
                padding: 5px 20px 20px 20px;
                background-color: rgba(19, 18, 18, 0.758);
                border-radius: 8px;
                border: 1px solid rgba(58, 57, 57, 0.5);
                .insoCastsItemWrapper{
                    padding-bottom: 20px;
                    display: flex;
                    overflow-x: scroll;
                .infoCastsItem{
                    margin-top: 15px;
                    margin-left: 10px;
                    margin-right: 10px;
                    background-color: rgba(16, 16, 16, 0.958);
                    border-radius: 8px;
                    border: 1px solid rgba(58, 57, 57, 0.5);
                    display: flex;
                    flex-direction: column;
                    padding: 10px;
                    .infoCastImage{
                        img{
                            width: 250px;
                            height: 300px;
                            border-radius: 8px;
                        }
                    }
                    .infoCastAbout{
                        margin-top: 15px;
                        align-self: center;
                        color: white;
                        text-decoration: none;
                    }
                }
            }::-webkit-scrollbar{
                position: absolute;
                    background-color: black;
                    margin-top: 10px;
                    height: 10px;
                    border-radius: 8px;
            }::-webkit-scrollbar-thumb{
                background-color: rgb(236, 220, 187);
                border-radius: 8px;
            }::-webkit-scrollbar-thumb:hover{
                background-color: rgb(139, 130, 111);;
            }
        }
        .noInfoCasts{
            padding: 20px;
            background-color: black;
            border-radius: 8px;
            border: 1px solid rgba(58, 57, 57, 0.5);
            display: flex ;
            justify-content: center;
            align-items: center;
            color: rgba(201, 201, 201, 0.667);
            font-size: 30px;
        }
        .infoComment{
            margin-top: 40px;
            display: flex;
            .infoCommentNav{
                text-decoration: none;
                list-style-type: none;
                font-size: 20px;
                width: 180px;
                height: 40px;
                background-color: rgba(19, 18, 18, 0.758);
                border-top-right-radius: 8px;
                border-top-left-radius: 8px;
                border: 1px solid rgba(58, 57, 57, 0.5);
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
            }
        }
        .infoCommentWrite{
            height: 300px;
            background-color: rgba(19, 18, 18, 0.758);
            display: flex;
            padding: 20px;
            border: 1px solid rgba(58, 57, 57, 0.5);
            border-radius: 8px;
            .infoCommentInput{
                margin-top: 20px;
                width: 70%;
                padding: 20px;
                .infoCommentInputItem{
                    display: flex;
                    flex-direction: column;
                    label{
                        font-size: 20px;
                        font-weight: 500;
                        margin-top: 10px;
                    }
                    input{
                        width: 300px;
                        height: 30px;
                        margin: 5px;
                        border-radius: 6px;
                        background-color: black;
                        color: white;
                        border: none;
                        padding: 2px;
                    }
                    textarea{
                        width: 700px;
                        height: 100px;
                        background-color: black;
                        color: white;
                        border: none;
                        margin: 5px;
                        border-radius: 6px;
                    }
                }
            }
        .infoCommentSubmit{
            padding: 30px;
            .infoCommentScore{
                margin-bottom: 20px;
                display: flex;
                    align-items: center;
                    .staroutline{
                        color: white;
                    }
            }
            .opt1{
                display: flex;
                align-items: center;
                 input[type="checkbox"] {
                    appearance: none;
                    border-radius: 15px;
                    height: 20px;
                    width: 60px;
                    margin: 5px;
                    background-color: red;
                    outline: none;
                    transition: background-color .3s;
                    &:checked {
                        background-color: lighten(red, 20%);
                        transition: background-color .3s;
                    }
            
                    &::before {
                        display: block;
                        position: relative;
                        height: 15px;
                        width: 15px;
                        border-radius: 15px;
                        background-color: white;
                        margin: 2.5px;
                        content: '';
                        transition: left .5s;
                    }
            
                    &:checked::before {
                        background-color: white;
                        margin: 2.5px;
                        left: 38px;
                        transition: left .5s;
                    }
                }
            }
            .infoCommentButton{
                width: 320px;
                height: 40px;
                margin-top: 95px;
                background-color: red;
                border: none;
                border-radius: 8px;
                cursor: pointer;
                color: white;
                font-size: 18px;
            }
            .infoCommentButton:hover{
                    background-color: lighten(red, 20%);
            }
        }
        }
        .infoComments{
            height: 500px;
            background-color: black;
            padding: 20px;
            border: 1px solid rgba(58, 57, 57, 0.5);
            border-radius: 8px;
            overflow-y: scroll;
          
            .infoCommentsItem{
                padding: 10px;
                border: 1px solid rgba(58, 57, 57, 0.5);
                border-radius: 8px;
                width: 800px;
                margin-top: 10px;
                .commentsItemProfile{
                    display: flex;
                    align-items: center;
                    .commentsItemUser{
                        color: white;
                        text-decoration: none;
                        display: flex;
                        align-items: center;
                        img{
                            width: 50px;
                            height: 50px;
                            border-radius: 50%;
                        }
                        b{
                            margin-left: 20px;
                        }
                    }
                    .topic{
                        width: 700px;
                        margin-left: 50px;
                    }
                }
                .commentsContent{
                    margin-left: 60px;
                    margin-right: 10px;
                        background-color: rgba(19, 18, 18, 0.758);
                        padding: 20px;
                        border: 1px solid rgba(58, 57, 57, 0.5);
                        border-radius: 12px;
                        border-top-left-radius: 0;
                }
            }
            .active{
                margin-left: 590px;
                .commentsItemProfile{
                    flex-direction: row-reverse;
                    .commentsItemUser{
                        color: white;
                        text-decoration: none;
                        display: flex;
                        flex-direction: row-reverse;
                        align-items: center;
                        b{
                            margin-left: 0px;
                            margin-right: 20px;
                        }
                    }
                    .topic{
                        margin-left: 0;
                        width: 520px;
                    }
                }
                .commentsContent{
                    border-top-left-radius: 12px;
                    border-top-right-radius: 0px;
                    margin-right: 60px;
                    margin-left: 10px;
                }
            }
            .spoilerComment{
                background-color: black;
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
            }

        }::-webkit-scrollbar{
            position: absolute;
                background-color: black;
                margin-top: 10px;
                height: 10px;
                border-radius: 8px;
        }::-webkit-scrollbar-thumb{
            background-color: rgb(236, 220, 187);
            border-radius: 8px;
        }::-webkit-scrollbar-thumb:hover{
            background-color: rgb(139, 130, 111);;
        }
        .noInfoComment {
            height: 400px;
            background-color: black;
            padding: 20px;
            border: 1px solid rgba(58, 57, 57, 0.5);
            border-radius: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 60px;
            color: rgba(201, 201, 201, 0.667);
        }
    }
}
.popup {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    .popup__content {
        width: 500px;
        background: black;
        border: 1px solid red;
        padding: 20px;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        color: white;
        .popup__header {
            display: flex;
            justify-content: space-between;

            .popup__title {
                font-size: 18px;
                font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            }
        }
        .popup_main{
            margin-top: 30px;
            display: flex ;
            justify-content: space-around;
            align-items: center;
            .copyButton{
                border-radius: 18px;
                            width: 80px;
                            height: 40px;
                            cursor: pointer;
                            color: white;
                            background-color: black;
            }
        }
    }
}
.uploader {
    height: 100px;
    width: 400px;
    position: fixed;
    background-color: black;
    color: white;
    border: 1px solid red;
    bottom: 0;
    right: 0;
    padding: 20px;
    border-radius: 12px;
    overflow-y: auto;
    .uploader__header {
        display: flex;
        justify-content: space-between;
        .uploader__title {
            color: #E9E6E6;
            font-size: 1.2rem;
          }
          .uploader__close {
            color: white;
            border: 1px solid white;
            background-color: black;
            border-radius: 50%;
            width: 30px;
            padding: 3px;
            cursor: pointer;
          }
      }
      
   .upload-file__progress-bar {
    height: 1rem;
    border-radius: 8px;
    background-color: rgb(15, 15, 32);
    display: flex;
    margin: 10px 0 0 0;
    .upload-file__upload-bar {
        background-color: red;
        border-radius: 8px;
      }
      .upload-file__percent {
        color: #E9E6E6;
        left: 50%;
        position: absolute;
      }
  }

  }


